{% extends "base.html" %}
{% load humanize %}
{% load lightdelay_tags %}

{% block title %}Light Delay to {{ body_name }}{% endblock %}
{% block metadesc %}As of {{ time }}, the Light Delay to {{ body_name }} from Earth is {{ distance|distance_to_delay }}. The distance from Earth to {{ body_name }} is {{ distance.value|stringformat:".3e" }} {{ distance.unit }}.{% endblock %}
{% block metatags %}distance to {{ body_name }},light delay to {{ body_name }}{% endblock %}
{% block extra_meta %}
    <link rel="canonical" href="https://lightdelay.to/{{ body_name|encode_url_param }}" />
{% endblock %}
{% block content_title %}Light Delay to {{ body_name }}{% endblock %}
{% block content %}
    <p>Data valid as of {{ time }}</p>
    <h2>Light Delay to {{ body_name }}</h2>
    <ul>
        <li>The Light Delay to {{ body_name }} is {{ distance|distance_to_delay }}.</li>
        <li>{{ body_name }} is currently {{ distance.value|stringformat:".3e" }} {{ distance.unit }} away from Earth.</li>
        <li>In other units, that's:</li>
        <ul>
            {% if distance.unit != 'km' %}
                <li>{{ distance|convert_to:'km'|stringformat:".3e" }} kilometers</li>
            {% endif %}
            {% if distance.unit != 'AU' %}
                <li>{{ distance|convert_to:'AU'|stringformat:".3e" }} Astronomical Units</li>
            {% endif %}
            {% if distance.unit != 'lyr' %}
                <li>{{ distance|convert_to:'lyr'|stringformat:".3e" }} light years</li>
            {% endif %}
        </ul>
    </ul>
{% endblock %}
