{% extends "base.html" %}
{% load humanize %}
{% load lightdelay_tags %}

{% block title %}Light Delay to Mars, the Moon, and Other Bodies{% endblock %}
{% block metadesc %}Live distance and light-speed communications delay to Mars, the Moon, planets, asteroids, and almost anything else.{% endblock %}
{% block metatags %}distance to mars,light delay to mars,distance to the moon,light delay to the moon{% endblock %}
{% block content_title %}Light Delay to Mars, the Moon, and Planets{% endblock %}
{% block content %}
    <p>Data valid as of {{ time }}</p>
    {% for body in body_data %}
        <h2><a href="/{{ body.name|encode_url_param }}">Light Delay to {{ body.name }}</a></h2>
        <ul>
            <li>The Light Delay to {{ body.name }} is {{ body.distance|distance_to_delay }}.</li>
            <li>{{ body.name }} is currently {{ body.distance.value|stringformat:".3e" }} {{ body.distance.unit }} away from Earth.</li>
            <li>In other units, that's:</li>
            <ul>
                {% if body.distance.unit != 'km' %}
                    <li>{{ body.distance|convert_to:'km'|stringformat:".3e" }} kilometers</li>
                {% endif %}
                {% if body.distance.unit != 'AU' %}
                    <li>{{ body.distance|convert_to:'AU'|stringformat:".3e" }} Astronomical Units</li>
                {% endif %}
                {% if body.distance.unit != 'lyr' %}
                    <li>{{ body.distance|convert_to:'lyr'|stringformat:".3e" }} light years</li>
                {% endif %}
            </ul>
        </ul>
    {% endfor %}
{% endblock %}
