<nav>
  <a class="mdc-button" href="/about/">
    <i class="material-icons mdc-button__icon" aria-hidden="true">info</i>
    About LightDelay.To
  </a>
  <a class="mdc-button" href="/docs/">
    <i class="material-icons mdc-button__icon" aria-hidden="true">help</i>
    Documentation (soon)
  </a>
  <a class="mdc-button" href="/">
    <i class="material-icons mdc-button__icon" aria-hidden="true">home</i>
    Homepage (common objects)
  </a>
  <a class="mdc-button" href="https://github.com/dcollinsn/lightdelay-to/">
    <i class="material-icons mdc-button__icon" aria-hidden="true">code</i>
    Source Code on GitHub
  </a>
</nav>
