<form action="/handle_search/" method="get" autocomplete="off">
    <dl>
        <dt><label for="body1">Distance To What?</label></dt>
        <dd><input type="text" name="body1"></dd>
        <dt><label for="body2">Distance From What? (leave blank for Earth)</label></dt>
        <dd><input type="text" name="body2"></dd>
        <dt><label for="time">Distance at What Time? (leave blank for now)</label></dt>
        <dd><input type="text" name="time"></dd>
    </dl>
    <button type="submit" value="Search">Search</button>
</form>
